<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico">

    <title>Authly</title>

    <script src="/_static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="/_static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >

    <!--<link href="style.css" rel="stylesheet">-->
  </head>

  <body class="text-center">
    {#insert}No body!{/}    
  </body>
  
</html>
