{#include index}
<form id="loginForm">
  <div class="mb-3">
    <label for="j_username" class="form-label">Username</label>
    <input type="text" class="form-control" id="j_username" name="j_username" required>
  </div>
  <div class="mb-3">
    <label for="j_password" class="form-label">Password</label>
    <input type="password" class="form-control" id="j_password" name="j_password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<script>
document.getElementById("loginForm").onsubmit = async (event) => {
    // stop the form submitting itself
    event.preventDefault();

    // Make an HTTP POST request using fetch against j_security_check endpoint
    fetch('/j_security_check', {
        method: 'POST',
        body: new FormData(event.target)
    })
    .then((response) => {
        if(response.ok){
            // Authentication was successful
            // Get the url params
            const urlParams = new URLSearchParams(window.location.search);

            // Get the redirect_uri if avaiable else default to "/"
            const redirectUri = urlParams.get('redirect_uri') ? urlParams.get('redirect_uri') : "/";
            
            // redirect to the uri
            window.location.href = redirectUri;
        } else {
            // Authentication failed
            //TODO display alert
            console.error("Invalid credentials");
        }
    })
    .catch((error) => {
        console.error(error);
    });
}
</script>